body {
    background: linear-gradient(270deg, #ff7a00, #ff4d4d, #ff85a1);
    background-size: 600% 600%;

    animation: moverFondo 8s ease infinite;
    color: white;
}

/* animación */
@keyframes moverFondo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.Titulo-P{
    color: rgb(31, 15, 15);
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
}
.text2{
    color: rgb(31, 15, 15);
    font-size: 25px;
    text-align: left;
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    color: rgb(10, 9, 9);
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.cuidado{
    background-color: #ccc8c5;
    color: rgb(31, 15, 15);
    border-left: #110e0e solid 10px;
    text-align: left;
    border: 2px solid #110e0e;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
div{
    background-color: #67939b;
    padding: 20px;
    border:none #110e0e;
    border-radius: 10px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

button {
    background-color: #1b1f1d;   /* color de fondo */
    color: #ecf3f3;             /* color del texto */
    padding: 10px 20px;       /* tamaño interno */
    border-radius: 10px;      /* bordes redondeados */
    cursor: pointer;          /* cambia el cursor */
    border: none;            /* sin borde */
    font-size: 16px;         /* tamaño del texto */
    transition: background-color 0.3s, color 0.3s; /* transición suave */
    position: relative;
    overflow: hidden;
}
button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, transparent, #fbea80, transparent);
    top: 0;
    left: -100%;
    transition: 0.5s;
}
button:hover::before {
    left: 100%;
}

.fondoVideo {
    width: 40%;
    height: 30%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    border-color: #110e0e;
    border-width: 4px;
    border-style: solid;

    object-fit: cover;
    z-index: -1;
}

#galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}
#galeria img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    transform: scale(1.05);
    transition: 0.3s;

}

@media (max-width: 600px) {
    body {
    background: linear-gradient(270deg, #ff7a00, #ff4d4d, #ff85a1);
    background-size: 600% 600%;

    animation: moverFondo 8s ease infinite;
    color: white;
}

/* animación */
@keyframes moverFondo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

    button {
        font-size: 18px;
    }
}