
button {
    background-color: #067083; /* color de fondo */
    color: white; /* color del texto */
    padding: 10px 20px; /* tamaño interno */
    border-radius: 5px; /* bordes redondeados */
    cursor: pointer; /* cambia el cursor */
    border: none; /* sin borde */
    font-size: 16px; /* tamaño del texto */
    
}



@media (max-width: 600px) {
    body {
        background-color: lightgray;
    }

    button {
        font-size: 18px;
    }
}